<h2 class="b2-title">Hero Component - Emulated</h2>
<p class="p-title">Hero Component tag p</p>
<!-- <ul class="heroes">
  <li *ngFor="let hero of heroes; let i = index; let f = first; let o = odd" [class.selected]="hero === selectedHero" (click)="selectHero(hero)">
    <span class="no" [class.even]="i%2==0" [ngClass]="{'first': f}" [style.color]="o?'yellow':'white'">{{hero.id}}</span>{{i}} - {{hero.name}}
  </li>
</ul> -->

<ul class="heroes">
  <li *ngFor="let hero of heroes; let i = index; let f = first; let o = odd">
    <a routerLink="/detail/{{hero.id}}">
      <span class="no" [class.even]="i%2==0" [ngClass]="{'first': f}" [style.color]="o?'yellow':'white'">{{hero.id}}</span>{{i}} - {{hero.name}}
    </a>
  </li>
</ul>

<hr class="thc-hr">
<!-- <thc-hero-detail [hero]="selectedHero"></thc-hero-detail> -->
