<!-- <div class="block-1">
  <h2 class='title'>{{ title}} của
    <span [style.color]=" boo() ? 'green' : 'blue'">{{ me }}</span>
  </h2>
  <thc-super-hero-list-in-star-war></thc-super-hero-list-in-star-war>
</div> -->

<div class="block-2">
  <h2 class="b2-title app-title">App Component</h2>
  <div>
    <input type="text" [(ngModel)] = "message" (keyup.enter)="onClick()">
    <button (click)="onClick()">Button...</button>
  </div>
  <ul>
    <li *ngFor="let message of messages">
      {{ message }}
    </li>
  </ul>
  <p class="p-title app-p-title">App Component tag p</p>
  <nav>
    <a routerLink="/heroes" class="btn btn-primary">Heroes</a>
    <a routerLink="/super-hero" class="btn btn-danger">Super Hero</a>
    <a routerLink="/test-hero" class="btn btn-success">Test Hero</a>
  </nav>
  <router-outlet></router-outlet>
</div>

<!-- <div class="block-3">
  <h2 class="b2-title app-title">Contact Component</h2>
  <thc-contact-list></thc-contact-list>
</div> -->

<!-- <div class="block-4">
  <thc-parent></thc-parent>
</div> -->

<!-- <div class="block-5">
  <h2 class="b2-title app-title">Material Form</h2>
  <thc-login></thc-login>
</div> -->

<!-- <div class="block-6">
  <thc-contact-form></thc-contact-form>
</div>

<div class="block-7">
  <thc-reactive-form></thc-reactive-form>
</div> -->

<!-- <div class="block-8">
  <h2 class="b2-title app-title">Lifecycle Hook Component</h2>
  <button class="btn btn-success" (click)="clickToggle()">Toggle</button><br>
  Số thứ 1: <input type="number" [(ngModel)]="a"><br>
  Số thứ 2: <input type="number" [(ngModel)]="b"><br>
  <button type="button" class="btn btn-primary" (click)="clickSum()">Tính tổng</button>
  <thc-lifecycle-hook *ngIf="isShow" [totalEx]="total" [st1]="a" [st2]="b">
    <p style="font-weight: bold" class="p1" #valueEx>{{ngContent}}</p>
  </thc-lifecycle-hook>
  <input type="text" #text><br>
  <button type="button" class="btn btn-danger" (click)="clickBind(text.value)">Bind</button><br>
  <ul #prods>
    <li *ngFor="let product of products">
      {{product.id}} - {{product.name}}
    </li>
  </ul>
  <input type="text" class="form-control" style="width: 60%; margin: 0 auto 30px;" #prod>
  <button class="btn btn-primary" (click)="addProduct(prod.value)">Add Product</button>
</div> -->
