

.block-1, .block-2, .block-4, .block-5 {
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
}

.block-3 {
  margin: 20px auto;
  max-width: 1000px;
  text-align: center;
  border-bottom: 2px solid red;
}

.block-1 {
  border-bottom: 2px solid red;
  padding-bottom: 20px;
}

.block-4 {
  padding-top: 20px;
}

.title {
  font-size: 20px;
  margin: 15px 0;
}

.app-title {
  margin-bottom: 20px;
}

.app-p-title {
  border-bottom: 2px solid red;
}

.block-3 {
  border-top: 2px solid red;
  padding-top: 20px;
}




