@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.p-title {
  color: red;
  margin-top: 50px;
  margin-bottom: 30px;
  /* border-bottom: 2px solid red; */
  padding-bottom: 30px;
}
